:root {
    --white-color: #fff;
    --banner-color: #dadbf1;
    --black-color: #000000;
    --button-color: #4C5FD5;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

/* Navigation Bar */
nav {
    background-color: var(--black-color);
    color: var(--white-color);
    display: flex;
    text-align: center;
    align-items: center;
}

.inner {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 19px auto;
    justify-content: space-between;
}

.logo-wrapper {
    display: flex;
    align-items: center;
}

nav .logo svg:hover > * {
    fill: rgb(204, 199, 199);
}

nav .logo {
    min-width: 8rem;
}

nav .help-center {
    border-left: 2px solid var(--white-color);
    padding-left: 0.5em;
    padding-bottom: 0.1em;
    margin-left: 0.5em;
    
}

nav .help-center:hover {
    text-decoration: underline;
}

.menu-controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 24px;
}

.menu-controls-container {
    display: flex;
    gap: 0.8em;
    padding: 0.5em;
}

.menu-controls .submit-a-request {
    background-color: rgba(27, 25, 25, 0.9);
    width: 8.5em;
    border-radius: 5px;
    border: 1px solid var(--white-color);
    padding: 0.45em 0.5em;
}

.menu-controls .sign-in {
    background-color: var(--button-color);
    border-radius: 5px;
    width: 5.85em;
    padding: 0.45em 0;
}

.menu-controls .sign-in:hover {
    background-color: var(--white-color);
    color: var(--black-color);
    transition: 0.3s;
}
/* Navigation Bar End */

/* Hamburger Menu */
.hamburger {
    display: none;
    cursor: pointer;
    align-self: center;
}

.line-1 {
    border: 1.5px solid white;
    width: 1.25rem;
}

.line-2 {
    border: 1.5px solid white;
    width: 1.25rem;
    margin: 0.25em 0;
}

.line-3 {
    border: 1.5px solid white;
    width: 1.25rem;
}
/* Hamburger Menu End */

header {
    background-color: var(--banner-color);
    font-size: 1.35em;
}

header nav a {
    color: var(--white-color);
    text-decoration: none;
}

.banner {
    text-align: center;
    padding: 3em 0;
}

.banner > div {
    font-size: 3em;
    margin: 0.5em;
}

.banner button {
    position: absolute;
    height: 2.5em;
    margin-left: -3.5em;
    margin-top: 1em;
    background-color: var(--white-color);
    border: none;
}

#site-search {
    width: 38em;
    height: 3.5em;
    border-radius: 5px;
    border: 1px solid;
    box-shadow: 0 5px 14px 5px rgba(0, 0, 0, 0.1);
    font-size: 0.8em;
    padding-left: 0.75em;
    margin-bottom: 2em;
}

.content-list {
    display: flex;
    flex-wrap: wrap;
    padding: 3em 6em;
}

.content-item {
    display: flex;
    flex-basis: 50%;
    margin: 2em 0;
}

.content-item-icon {
    flex-basis: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-item-icon img {
    max-width: 90px;
    margin: 0 1em;
}

.content-item-info {
    flex-basis: 75%;
}

.content-item-info h4 {
    font-size: 1.35em;
}

.content-item-info p {
    font-size: 1.25em;
}

.content-item-info a {
    color:var(--button-color);
    text-decoration: none;
}

.content-item-info a:hover {
    text-decoration: underline;
}

.content-item-info a:visited {
    color:var(--button-color);
}

footer {
    background-color: var(--black-color);
    padding-bottom: 4em;
}

.container-footer {
    position: relative;
    width: 90%;
    margin: auto;
}

.container-footer .footer-column {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-top: 1em;
}

.footer-column > * {
    display: block;
    color: var(--white-color);
    text-decoration: none;
    line-height: 1.5;
}

.footer-column a:hover {
    text-decoration: underline;
}

.footer-column h4 {
    font-size: 1.25em;
    line-height: 0.5;
}

#break {
    margin-bottom: 1.5em;
}

footer .abstract-logo {
    height: 2rem;
    width: 2rem;
    margin-bottom: 0.5em;
}

#copyright {
    position: absolute;
    bottom: 0;
    right: 0;

    font-size: 1.1em;
    margin: 0;
}

#help-button {
    position: fixed;
    color: var(--white-color);
    background-color: var(--button-color);
    border: 1px solid var(--white-color);
    border-radius: 25px;
    padding: 10px 25px;
    bottom: 20px;
    right: 15px;
    text-align: center;
}

@media screen and (max-width: 700px) {
    #site-search {
        max-width: 450px;
    }

    .banner > div {
        font-size: 2em;
        margin: 1em;
    }
}

@media screen and (max-width: 820px) {
    nav {
        padding-left: 0.75em;
        padding-right: 0.75em;
    }

    .content-item {
        flex-basis: 100%;
    }

    .container-footer .footer-column {
        width: 33%;
    }
}

@media screen and (max-width: 1200px) {
    .menu-controls .submit-a-request, .menu-controls .sign-in {
        background-color: initial;
        border: none;
        border-radius: 0;
        width: 50%;
        padding: 1em 0;
    }

    .menu-controls .submit-a-request {
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    .menu-controls .submit-a-request:hover , .menu-controls .sign-in:hover {
        background-color: initial;
        color: rgb(204, 199, 199);
    }

    .menu-controls {
        display: block;
        width: 100%;
        position: absolute;
        left: 0;
        top: 75px;
    }

    .menu-controls-container {
        display: none;
    }

    .menu-controls-container.show {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--black-color);
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        
    }
    
    .hamburger {
        display: block;

        .line-1-open {
            border: 1.5px solid white;
            width: 1.25rem;
            transform: skew(0, 45deg) translateY(1px);
            
        }
    
        .line-2-open {
            border: none;
            width: 1.25rem;
            margin: 0;
        }
        
        .line-3-open {
            border: 1.5px solid white;
            width: 1.25rem;
            transform: skew(0, -45deg) translateY(-1px);
        }
    }
}
